@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";
	min-width: 270px;
	@apply bg-gray-900 text-gray-500;
}
body, .panel .footer {
	transition: background-color 0.5s ease-in-out, color 0.2s ease-in-out;
}
h2, h3 {
	@apply text-gray-200;
}
.panel h2, .panel h3 {
	color: inherit;
}

a,
button {
	cursor: pointer;
	text-align: left;
}
header a,
header button {
	color: inherit;
}
header .inline-icon {
	@apply w-full h-full !important;
}
h2,
h3,
p {
	letter-spacing: 0.03em;
	@apply font-sans;
}
p a,
p button {
	border-bottom: 0.01em solid;
	border-radius: 0;
	line-height: 1;
}
p a:hover,
p button:hover {
	@apply text-white;
}

p + p {
	@apply mt-6;
}

.links {
	@apply mt-16 text-sm;
}

.links .svg-inline--fa {
	@apply mr-2 text-red text-xs;
}
.links a,
.links button {
	@apply font-mono mb-4;
	line-height: 1;
	display: block;
}
.links a:hover,
.links button:hover {
	@apply text-white;
}

@screen lg {
	.links {
		@apply text-sm mt-12;
	}
}

pre {
	@apply font-mono !important;
}
.aspect {
	position: relative;
}
.aspect.aspect-640-360 {
	padding-top: 56.25%; /* Player ratio: 100 / (360 / 640) */
}
.aspect > * {
	position: absolute;
	top: 0;
	left: 0;
}

.panel {
	display: flex;
	flex-direction: column;
}
.panel .tile.code .buttons {
	float: right;
	@apply ml-2 mb-1;
}
.panel .tile.code .buttons button.text-dark {
	transition: color 2s ease-out;
}

.panel .tile.code {
	display: block;
	position: relative;
	@apply p-2;
}
.panel .tile.code .dots {
	@apply mb-1;
}
.panel .tile.code pre {
	white-space: pre-wrap;
}
.panel .tile {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.panel .tile .inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.panel .footer .inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.panel .footer {
	@apply bg-black text-white;
}
.panel .inner {
	@apply py-6  h-32;
}
.panel.panel-small .inner {
	@apply py-1 px-2 h-auto;
}
.panel .footer {
	@apply font-mono text-2xl;
}
.panel.panel-small .footer {
	@apply py-1 px-2;
}

.panel.panel-small .footer .inner {
	justify-content: flex-start;
}

.panel .footer .item {
	overflow: hidden;
}
.panel .footer .description {
	@apply flex-grow;
}
.panel .footer .item svg {
	max-width: 100%;
	max-height: 100%;
	@apply text-gray-700;
}
.panel .footer .item svg path:not([fill]) {
	@apply fill-current;
}
.panel .footer .item svg stop {
	stop-color: theme('colors.gray.700');
}
.panel.panel-small .footer {
	@apply font-mono text-xxs;
}
.footerlead {
	@apply text-red uppercase;
}
.panel .footer .footericon {
	@apply p-2 text-red;
}

.panel.panel-full-height {
	min-height: 100vh;
}

pre,
code {
	@apply text-xs;
}
@media (max-width: 420px) {
	.tile.code pre {
		font-size: 0.6rem;
	}
}
@media (max-width: 380px) {
	.tile.code pre {
		font-size: 0.5rem;
	}
}
@media (max-width: 340px) {
	.tile.code pre {
		font-size: 0.45rem;
	}
}

@define-mixin panel $theme, $name, $tilecolor, $textcolor, $arrowcolor, $footerleadcolor {
	body.theme-$(theme) .panel.panel-$(name) .tile a:hover,
	body.theme-$(theme) .panel.panel-$(name) .links .svg-inline--fa {
		@apply text-$arrowcolor;
	}
	body.theme-$(theme) .panel.panel-$(name) > .tile {
		@apply bg-$(tilecolor) text-$(textcolor);
	}
	body.theme-$(theme) .panel.panel-$(name) .footer .footerlead,
	body.theme-$(theme) .panel.panel-$(name) .footer .footericon {
		@apply text-$(footerleadcolor);
	}
}

@mixin panel dark, red, red, white, dark, red {
}
@mixin panel dark, blue, blue, white, yellow, yellow {
}
@mixin panel dark, green, green, white, yellow, green {
}
@mixin panel dark, pink, pink, white, yellow, cyan {
}
@mixin panel dark, purple, purple, white, yellow, purple {
}
@mixin panel dark, dark, dark, white, yellow, pink {
}
@mixin panel dark, light, light, dark, red, red {
}
@mixin panel dark, cyan, cyan, dark, yellow, cyan {
}
@mixin panel dark, yellow, yellow, dark, purple, purple {
}
@mixin panel dark, white, white, dark, red, red {
}

@mixin panel dark, guninfiveminutes, purple, white, yellow, yellow {
}
@mixin panel dark, code, black, light, red, red {
}

svg.inline-icon {
	height: 1.5em;
}

#guninfiveminutes .tile ol {
	list-style-type: none;
}
#guninfiveminutes .tile ol li {
	counter-increment: step-counter;
	position: relative;
	@apply mb-12;
}
#guninfiveminutes .tile ol li::before {
	content: counter(step-counter) ".";
	position: absolute;
	left: -3rem;
	top: -0.5rem;
	display: none;
	@apply text-4xl font-mono;
}
@screen md {
	#guninfiveminutes .tile ol li::before {
		display: block;
	}
}
#guninfiveminutes .footer .item {
	letter-spacing: 0.05em;
	@apply flex flex-row items-center uppercase whitespace-pre;
}
#guninfiveminutes .footer .inline-icon {
	@apply mr-3;
}

h2 {
	margin: 0 0 1.45rem 0;
	padding: 0;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	@apply font-sans text-3xl;
}

h3 {
	margin: 0 0 1.45rem 0;
	padding: 0;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	@apply font-sans text-lg;
}

.size-xxl .scheme-switcher-wrapper {
	position: fixed;
	top: 1rem;
	right: 1rem;
	width: 8rem;
	height: 3rem;
}
.scheme-switcher-wrapper {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.scheme-switcher-wrapper svg {
	position: absolute;
	max-height: 1.5rem;
	transition: transform 0.3s ease-in-out;
}
.scheme-switcher-wrapper #icon-day {
	transform-origin: -2em 6em;
}
.size-xxl .scheme-switcher-wrapper #icon-day {
	transform-origin: 2em 6em;
}
.scheme-switcher-wrapper #icon-night {
	transform-origin: 5em 6em;
}
.scheme-switcher-wrapper #icon-day path {
	fill: #000;
}
.size-xxl .scheme-switcher-wrapper #icon-night path {
	fill: #fff9;
}
.theme-dark #icon-night {
	transform: rotate(0deg);
}
.theme-light #icon-night {
	transform: rotate(-70deg);
}
.theme-dark #icon-day {
	transform: rotate(70deg);
}
.theme-light #icon-day {
	transform: rotate(0deg);
}

@media (prefers-color-scheme: light) {
}
body.theme-light {
	@apply bg-light text-dark;
}
body.theme-light .links a:hover,
body.theme-light .links button:hover {
	@apply text-gray-600;
}
body.theme-light .panel .footer {
	@apply bg-white text-dark;
}
body.theme-light .panel .footer .item svg {
	@apply text-gray-900;
}
body.theme-light .panel .footer .item svg stop {
	stop-color: theme('colors.gray.900');
}

@mixin panel light, red, red, white, dark, red {
}
@mixin panel light, blue, blue, white, yellow, blue {
}
@mixin panel light, green, green, white, yellow, green {
}
@mixin panel light, pink, pink, white, yellow, cyan {
}
@mixin panel light, purple, purple, white, yellow, purple {
}
@mixin panel light, dark, dark, white, yellow, pink {
}
@mixin panel light, light, light, dark, red, red {
}
@mixin panel light, cyan, cyan, white, yellow, cyan {
}
@mixin panel light, yellow, yellow, dark, purple, purple {
}
@mixin panel light, white, white, dark, red, red {
}

@mixin panel light, guninfiveminutes, cyan, white, yellow, red {
}
@mixin panel light, code, white, dark, red, red {
}

body.theme-light h2, 
body.theme-light h3 {
	color: inherit;
}