@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";
	@apply bg-light;
	min-width: 270px;
}

a,
button {
	cursor: pointer;
	text-align: left;
}
header a,
header button {
	color: inherit;
}
header .inline-icon {
	@apply w-full h-full !important;
}
h2,
h3,
p {
	letter-spacing: 0.03em;
	@apply font-sans;
}
p a,
p button {
	border-bottom: 0.01em solid;
	border-radius: 0;
	line-height: 1;
}
p a:hover {
	@apply text-red;
}

p + p {
	@apply mt-6;
}

.links {
	@apply mt-16 text-sm;
}

.links .svg-inline--fa {
	@apply mr-2 text-red text-xs;
}
.links a,
.links button {
	@apply font-mono mb-4;
	line-height: 1;
	display: block;
}

@screen lg {
	.links {
		@apply text-sm mt-12;
	}
}

pre {
	@apply font-mono !important;
}
.aspect {
	position: relative;
}
.aspect.aspect-640-360 {
	padding-top: 56.25%; /* Player ratio: 100 / (360 / 640) */
}
.aspect > * {
	position: absolute;
	top: 0;
	left: 0;
}

.panel {
	display: flex;
	flex-direction: column;
}
.panel .tile.code .buttons {
	float: right;
	@apply ml-2 mb-1;
}
.panel .tile.code .buttons button.text-dark {
	transition: color 2s ease-out;
}

.panel .tile.code {
	display: block;
	position: relative;
	@apply p-2;
}
.panel .tile.code .dots {
	@apply mb-1;
}
.panel .tile.code pre {
	white-space: pre-wrap;
}
.panel .tile {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.panel .tile .inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.panel .footer .inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.panel .footer {
	@apply bg-white text-dark;
}
.panel .inner {
	@apply py-6  h-32;
}
.panel.panel-small .inner {
	@apply py-1 px-2 h-auto;
}
.panel .footer {
	@apply font-mono text-2xl;
}
.panel.panel-small .footer {
	@apply py-1 px-2;
}

.panel.panel-small .footer .inner {
	justify-content: flex-start;
}

.panel .footer .item {
	overflow: hidden;
}
.panel .footer .description {
	@apply flex-grow;
}
.panel .footer .item svg {
	max-width: 100%;
	max-height: 100%;
}
.panel.panel-small .footer {
	@apply font-mono text-xxs;
}
.footerlead {
	@apply text-red uppercase;
}
.panel .footer .footericon {
	@apply p-2 text-red;
}

.panel.panel-full-height {
	min-height: 100vh;
}

pre,
code {
	@apply text-xs;
}
@media (max-width: 420px) {
	.tile.code pre {
		font-size: 0.6rem;
	}
}
@media (max-width: 380px) {
	.tile.code pre {
		font-size: 0.5rem;
	}
}
@media (max-width: 340px) {
	.tile.code pre {
		font-size: 0.45rem;
	}
}

@define-mixin panel $tilecolor, $textcolor, $arrowcolor, $footerleadcolor {
	.panel.panel-$(tilecolor) .tile a:hover,
	.panel.panel-$(tilecolor) .links .svg-inline--fa {
		@apply text-$arrowcolor;
	}
	.panel.panel-$(tilecolor) > .tile {
		@apply bg-$(tilecolor) text-$(textcolor);
	}
	.panel.panel-$(tilecolor) .footer .footerlead,
	.panel.panel-$(tilecolor) .footer .footericon {
		@apply text-$(footerleadcolor);
	}
}

@mixin panel red, white, dark, red {
}
@mixin panel blue, white, yellow, blue {
}
@mixin panel green, white, yellow, green {
}
@mixin panel pink, white, yellow, pink {
}
@mixin panel purple, white, yellow, purple {
}
@mixin panel dark, white, yellow, pink {
}
@mixin panel light, dark, red, red {
}
@mixin panel cyan, white, yellow, cyan {
}
@mixin panel yellow, dark, purple, purple {
}
@mixin panel white, dark, red, red {
}

svg.inline-icon {
	height: 1.5em;
}

#guninfiveminutes .tile ol {
	list-style-type: none;
}
#guninfiveminutes .tile ol li {
	counter-increment: step-counter;
	position: relative;
	@apply mb-12;
}
#guninfiveminutes .tile ol li::before {
	content: counter(step-counter) ".";
	position: absolute;
	left: -3rem;
	top: -0.5rem;
	display: none;
	@apply text-4xl font-mono;
}
@screen md {
	#guninfiveminutes .tile ol li::before {
		display: block;
	}
}
#guninfiveminutes .footer .item {
	letter-spacing: 0.05em;
	@apply flex flex-row items-center uppercase whitespace-pre;
}
#guninfiveminutes .footer .inline-icon {
	@apply mr-3;
}

h2 {
	margin: 0 0 1.45rem 0;
	padding: 0;
	color: inherit;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	@apply font-sans text-3xl;
}

h3 {
	margin: 0 0 1.45rem 0;
	padding: 0;
	color: inherit;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	@apply font-sans text-lg;
}
